<h4>{{model.author}} asked:</h4>
<p>
  {{model.content}}
</p>
<br>
<h4>Side note:<br></h4>
<p>
  {{model.notes}}
</p>
<br>
<h4>Answers to the question:</h4>
{{#each model as |answer|}}
<h5>{{answer.author}}</h5>
  <p>
    {{answer.content}}
  </p>
{{/each}}

{{new-answer model=model saveAnswer="saveAnswer"}}

{{update-question model=model update="update" destroyQuestion="destroyQuestion"}}
